
@{ ViewBag.Title = "MagicItems";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Magic Items</h2>
<table id="MagicItems" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Magic Item</th>
            <th>Weight</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#MagicItems").DataTable({
                ajax: {
                    url: "/api/magicitemsapi",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "weight"
                    },
                    {
                        data: "cost",
                    },
                    {
                        data: "description",
                    }
                ]
            });
        });
    </script>
}
