<html>
<head>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div id="usernameForm">
        <br />

        <form>
            <div class="form-group">
                <label for="username">Enter your Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <button type="button" class="btn btn-primary" id="startChatBtn">Start Chat</button>
        </form>
    </div>

    <br />

    <div class="messaging" id="chatWindow">
        <div class="inbox_msg">
            <div class="mesgs">
                <div class="msg_history" id="messageList">

                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" id="sendMessageText" placeholder="Type a message" />
                        <button class="msg_send_btn" id="sendMessageBtn" type="button">
                            <img src="~/Content/DataTables/images/sort_asc_disabled.png" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var chatHub = $.connection.chatHub;
        console.log(chatHub);
        var username = '';
        $('#chatWindow').hide();

        $('#startChatBtn').click(function () {
            username = $('#username').val();
            $('#chatWindow').show();
            $('#usernameForm').hide();
        });

        $('#sendMessageBtn').click(function () {
            chatHub.server.newMessage(username, $('#sendMessageText').val())
            makeOutgoingMessage($('#sendMessageText').val());
            $('#sendMessageText').val('');
        })

        function makeOutgoingMessage(message) {
            var newMsg = $('<div class="outgoing_msg"><div class="sent_msg"><p class="msg_body"></p><span class="msg_sub_text"></span></div></div>');
            newMsg.find('.msg_body').text(message);
            newMsg.find('.msg_sub_text').text("Sent by " + username);
            $('#messageList').append(newMsg);
        }

        function makeIncomingMessage(message, sender, date) {
            var newMsg = $('<div class="incoming_msg"><div class="received_msg"><div class="received_withd_msg"><p class="msg_body"></p><span class="msg_sub_text"></span></div></div></div>');
            newMsg.find('.msg_body').text(message);
            newMsg.find('.msg_sub_text').text("Sent by " + sender + " on " + new Date(date));
            $('#messageList').append(newMsg);
        }

        chatHub.client.sentMessage = function (username, message, date) {
            makeIncomingMessage(message, username, date)
        }
        $.connection.hub.start().done(function () {
            console.log('Connected to hubs!');
        })
    </script>
</body>
</html>