@model IEnumerable<DnD___Campaign_Dashboard_v._1.Models.Campaign>
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Campaign Name</th>
            <th>Story</th>
            <th>Created By</th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var campaign in Model)
        {
            <tr>
                <td>@campaign.Name</td>
                <td>@campaign.Story.TrimEnd()</td>
                @if(campaign.DMUserId == User.Identity.GetUserId())
                {
                    <td>
                        @Html.ActionLink("Edit", "New", "Campaign")
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>


