
@{ ViewBag.Title = "Weapons";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Weapons</h2>
<table id="weapons" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Weapons</th>
            <th>Damage</th>
            <th>Weapons Category</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#weapons").DataTable({
                ajax: {
                    url: "/api/weapons",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "damageType"
                    },
                    {
                        data: "weaponCategory",
                    }
                ]
            });
        });
    </script>
}
