@model IEnumerable<DnD___Campaign_Dashboard_v._1.Models.MonsterModelsApi.MonsterResultModel>

@{ ViewBag.Title = "Monsters";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Monsters</h2>

@*This defines a standard HTML table that is devoid of data. The column headers are coded in, alongside the
    bootstrap style class*@
<table id="monsters" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Monster</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@*Here the jQuery script is kept that is used to render a DataTable with the data collected from the API.*@
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            @* Here an ajax call is used to fetch a list of names for each entity.Also gathered is the index, which serves as the unique
            identifier of each entity in the API.*@
            $.ajax({
                url: 'https://www.dnd5eapi.co/api/monsters',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    bindtoDatatable(data.results);
                }
            });
        });
        @* Function for assigning the data to the table.The colums are defined here alongside the data to be displayed in them *@
        function bindtoDatatable(data) {
            var table = $('#monsters').dataTable({
                "bAutoWidth": true,
                "aaData": data,
                "columns": [

                    {
                        "data": "name"
                    },
                    {
                        @* Here, using the index gathered from the ajax call, it is passed back to the appropriate controller.
                            The index is then added onto the end of a URL, that is used to query the specific data of the entity *@
                        "data": "index",
                        render: function (data) {
                            return "<a href='../Monsters/Details/" + data + "'>Details</a>"
                        }
                    }
                ]
            });
        }
    </script>
}